@model ForgotPasswordViewModel

<style>
 .form-control{
     width:250px;
 }
</style>
<h2>Forgot Password</h2>
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label>Email address</label>
        <input asp-for="Email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Send OTP</button>
</form>
